@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');



@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jura-300{
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}


@theme {
  --color-Jorange: #ED9F52;
  --color-Jlack: #0E0E0E;
  --color-Jhite: #D9D9D9;
  --color-Jurple: #8839CD;
  --color-Jed: #A94752;
  --color-Jlue: #465987;
  --color-Jightblue: #C0CCE7;
  --color-Jink: #C0155D;
  --color-Jyan: #3D9F90;
  --color-Jarkred: #743737;
  --color-Jold: #D0AC68;
  --color-Jiscoblue: #01A9F0;
  --color-Jiscoorange: #ED6E03;
  --color-Jiscogreen: #70BE46;
  --color-Jecho: #00C9FF;


  --font-monoton: "Monoton", sans-serif;
  --font-jura: "Jura", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif; 
  --font-abhaya: "Abhaya Libre", sans-serif;
}

